:root {
  --banner-background: #29374c;
  --heading-gradient: linear-gradient(90deg, #e06dc6 10%, #f27062 31%, #67bea4 47%, #3b83f2 100%);
  --link-gradient: linear-gradient(to bottom right, #4e91a9 30%, #3979d6 85%, #4a94be 100%);
  --heading-gradient-2: linear-gradient(90deg, #e06dc6 10%, #f27062 31%, #67bea4 47%, #3b83f2 100%);
}
html {
  min-height: 100vh;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.scrollrubberbanding {
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: var(--banner-background);
  z-index: -10;
}
.realmain {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: minmax(100vh min-content);
  margin: 0;
  min-height: 100vh;
  background-color: #fff;
  z-index: -5;
}
.main {
  z-index: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  overflow: hidden;
}
.content {
  display: grid;
  grid-template-columns: 1fr 10px minmax(0, 500px) 10px 1fr;
}
.content > * {
  grid-column: 3;
}
.content.footer {
  grid-row: 3;
}
.spacer {
  height: 100%;
  min-height: 100%;
}
.banner {
  grid-column: 2/5;
  color: #fff;
  margin: 0;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow-x: visible;
  padding-top: 40px;
  padding-bottom: 40px;
}
.banner a {
  color: #fff;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--banner-background);
  transform: rotate(2deg) scale(100, 1);
  z-index: -1;
}
.banner.expandup {
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.banner.expandup::before {
  transform: scale(100, 100) rotate(2deg);
  transform-origin: bottom center;
}
.banner.expanddown {
  padding-top: 40px;
  margin-top: 20px;
  color: #8b97a9;
}
.banner.expanddown::before {
  transform: scale(100, 100) rotate(2deg);
  transform-origin: top center;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.colorheader {
  color: var(--banner-background);
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .banner .markdown h1,
  .banner .markdown h2,
  .banner .markdown h3,
  .banner .markdown h4,
  .banner .markdown h5,
  .banner .markdown h6,
  .banner .colorheader {
    background: var(--heading-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}
@supports not (background-clip: text) {
  .banner .markdown h1,
  .banner .markdown h2,
  .banner .markdown h3,
  .banner .markdown h4,
  .banner .markdown h5,
  .banner .markdown h6,
  .banner .colorheader {
    color: #3979d6;
  }
}
a {
  text-decoration: none;
  white-space: nowrap;
}
.markdown a,
a.colorlink {
  position: relative;
  white-space: nowrap;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .markdown a,
  a.colorlink {
    background: var(--link-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}
@supports not (background-clip: text) {
  .markdown a,
  a.colorlink {
    color: #007aff;
  }
}
.markdown a::after,
a.colorlink::after {
  content: "";
  position: absolute;
  bottom: 1px;
  height: 1px;
  left: 0;
  right: 0;
  background: var(--link-gradient);
  transform: scale(0, 1);
  transition: 0.1s transform;
}
.markdown a:hover::after,
a.colorlink:hover::after {
  transform: scale(1, 1);
}
a.tablink {
  margin-left: 10px;
  margin-right: 10px;
}
a.blandlink {
  color: #67bea4;
  border-bottom: 1px dashed rgba(103,190,164,0.522);
}
a.blandlink:hover {
  border-color: #67bea4;
}
.tablink {
  font-weight: normal;
  border: 1px solid rgba(200,200,200,0.5);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.1s background-color, 0.1s color;
}
.tablink:hover {
  background-color: rgba(200,200,200,0.2);
}
.tablink:active {
  opacity: 0.7;
}
h1.giant {
  margin: 0;
  font-size: 60pt;
}
h6 {
  font-size: 15pt;
  margin: 0;
  margin-bottom: 20px;
  color: #67bea4;
  font-weight: normal;
}
.code {
  margin: 20px;
  padding: 0;
  position: relative;
  display: grid;
}
.code > textarea:focus + div + .tryitbtn {
  opacity: 0;
  pointer-events: none;
}
.code > .tryitbtn {
  opacity: 1;
  transition: 0.1s opacity;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  background-color: #555;
  border: 2px solid #ddd;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  z-index: 1;
}
.code > .enablejavascript {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  text-align: center;
}
.code > .enablejavascript:hover {
  display: block;
}
.code > textarea {
  padding: 10px;
  caret-color: #3b83f2;
  margin: 0;
  border: 2px solid #ddd;
  outline: none;
  border-radius: 5px;
}
.code > textarea:focus {
  border-color: #3b83f2;
}
.code > textarea[disabled] {
  color: #000;
  opacity: 1;
}
.code > textarea[disabled]:hover + .enablejavascript {
  display: block;
}
iframe {
  width: 100%;
  height: 300px;
}
